@-moz-keyframes leaflet-usermarker-pulsate {
    from {
        -moz-transform: scale(0.5);
        opacity: 0.6;
    }
    95% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
    to {
        -moz-transform: scale(0.7);
        opacity: 0;
    }
}
@-webkit-keyframes leaflet-usermarker-pulsate {
    from {
        -webkit-transform: scale(0.5);
        opacity: 0.6;
    }
    95% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(0.7);
        opacity: 0;
    }
}
@keyframes leaflet-usermarker-pulsate {
    from {
        transform: scale(0.5);
        opacity: 0.6;
    }
    95% {
        transform: scale(1.3);
        opacity: 0;
    }
    to {
        transform: scale(0.7);
        opacity: 0;
    }
}

.leaflet-usermarker,
.leaflet-usermarker-small {
    width: 34px;
    height: 34px;
    background: #fff;
    border-radius: 50%;
}
.leaflet-usermarker i.inner,
.leaflet-usermarker-small i.inner {
    display: block;
    background: #38f;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 10%;
}
.leaflet-usermarker-small {
    width: 17px;
    height: 17px;
}

.leaflet-usermarker i.pulse,
.leaflet-usermarker-small i.pulse {
    display: block;

    -moz-animation: leaflet-usermarker-pulsate 1.5s ease-in-out infinite;
    -webkit-animation: leaflet-usermarker-pulsate 1.5s ease-in-out infinite;
    animation: leaflet-usermarker-pulsate 1.5s ease-in-out infinite;
    border:1pt solid #fff;
    /* make a circle */
    -moz-border-radius:51px;
    -webkit-border-radius:51px;
    border-radius:51px;
    /* multiply the shadows, inside and outside the circle */
    -moz-box-shadow:inset 0 0 3px #06f, inset 0 0 3px #06f, inset 0 0 3px #06f, 0 0 3px #06f, 0 0 3px #06f, 0 0 3px #06f;
    -webkit-box-shadow:inset 0 0 3px #06f, inset 0 0 3px #06f, inset 0 0 3px #06f, 0 0 3px #06f, 0 0 3px #06f, 0 0 3px #06f;
    box-shadow:inset 0 0 3px #06f, inset 0 0 3px #06f, inset 0 0 3px #06f, 0 0 3px #06f, 0 0 3px #06f, 0 0 3px #06f;
    /* set the ring's new dimension and re-center it */
    height:70px!important;
    width:70px!important;
    position: absolute;
    top: -18px;
    left: -18px
}

.leaflet-usermarker-small i.pulse {
    height: 39px !important;
    width: 39px !important;
    top: -11px;
    left: -11px;
}
